
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.color-footer{
  background-color: rgb(54, 53, 53);
}
.color-footer-pie{
  background-color: rgb(0, 0, 0);
}
.tamanoIcon{
  font-size: 32px;
  text-align: center;
}
.textCenter{
  text-align: center;
}
.tamanoIcon a{
  color: white;
}
.tamanoIcon a:hover{
  border-radius: 10px;
  background: white;
  color: rgb(54, 53, 53);
}
.brand-logo img {
    width: 5em;
    margin-left: 2vw;
}

ul li a {
    width: 10vw;
}

.nav-wrapper {
    background-color: #ff0033;
}

#uno {
    height: 100%;
    background-color: aquamarine;
}
